<% if not signed_in? %>    

  <div class="jumbotron">
      <h1>Mothball your password text-file</h1>
      <p class="lead">Put your secret codes in a super-secure vault, always available and everywhere accessible</p>
      <p><a class="btn btn-lg btn-primary" href="/auth/facebook">Sign up for free!</a></p>
  </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <div class="row">
        <div class="col-lg-4">
          <%= image_tag "combination-lock-icon.jpg", class: "img-circle", style: "height: 140px;" %>
          <h2>Secure</h2>
          <p>All your data stored in the vault are encrypted/decrypted directly by your own device such as pc, tablet or phone. No clear texts are kept or transmitted over the Internet</p>
          <p><a class="btn btn-default" href="#encryption">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag "522px-Tris.svg.png", class: "img-circle", style: "width: 140px; height: 140px;" %>
          <h2>Easy</h2>
          <p>Your Internet browser is all you need. Just access the vault from your own personal computer or from a friend's mobile phone. Your data are finally available on your needs</p>
          <p><a class="btn btn-default" href="#easy">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <%= image_tag "cloud.jpg", class: "img-circle", style: "height: 140px;" %>
          <h2>Cloud-based</h2>
          <p>Encrypted data are stored in dedicated server farms. Hence equally accessible from your home or when you're just in front of an ATM. Data are  backed up, protecting from the accidental loss</p>
          <p><a class="btn btn-default" href="#cloud">View details »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette" id="encryption">
        <div class="col-md-7">
          <h2 class="featurette-heading">Highest encryption grade <span class="text-muted">Your Bank will envy you!</span></h2>
          <p class="lead">Foolbits protects your data using the state of the art in the encryption software: the symmetric AES (256 bits) and the asymmetric RSA (2136 bits). Still in doubt or willing to contribute? Check out yourself our <a href="https://github.com/lordkada/foolbits">code repo</a> on GitHub</p>
        </div>
        <div class="col-md-5">
          <%= image_tag "encryption.jpg", class: "featurette-image img-responsive" %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette" id="easy">
        <div class="col-md-5">
          <%= image_tag "foolbits-example.png", class: "featurette-image img-responsive", style: "margin-left: 25%;" %>
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">It's a child's game <span class="text-muted">Do a test drive now!</span></h2>
          <p class="lead">Foolbits allows you to write a single text page. No unnecessary complications or things to learn, just you and the vault page: type in or "copy and paste" the text and Foolbits will protect it. It has never been easier</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette" id="cloud">
        <div class="col-md-7">
          <h2 class="featurette-heading">No more excuses <span class="text-muted">Mothball your old text files</span></h2>
          <p class="lead">Probably you never took too seriously the idea to adopt a real solution to protect your codes for your online banking, ATM PINs, Credit Card control codes or whatever. But what happens if your PC is stolen or your mobile phone is lost? Is it safe to write your secret codes somewhere in your harddisk or as a note in your phone? We don't think so... Now you have Foolbits, the final solution to your secret codes protection</p>
        </div>
        <div class="col-md-5">
          <%= image_tag "atm-machine.jpg", class: "featurette-image img-responsive" %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette" id="free">
        <div class="col-md-5">
          <%= image_tag "oh-yeah-its-free.png", class: "featurette-image img-responsive" %>
        </div>        
        <div class="col-md-7">
          <h2 class="featurette-heading">And last but not least... <span class="text-muted">It's free. Forever.</span></h2>
          <p class="lead">Your vault will be always free. No subscription fees, no dues. This is our promise. This is your win.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
<% end %>