<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Foolbits" %></title>
    <%= csrf_meta_tags %>


    <%= javascript_include_tag "http://codeorigin.jquery.com/jquery-2.0.3.min.js" %>

    <%= javascript_include_tag "forge/jsbn" %>
    <%= javascript_include_tag "forge/aes.js"%>
    <%= javascript_include_tag "forge/asn1.js"%>
    <%= javascript_include_tag "forge/oids.js"%>
    <%= javascript_include_tag "forge/pkcs1.js"%>
    <%= javascript_include_tag "forge/sha1.js"%>
    <%= javascript_include_tag "forge/rsa.js"%>
    <%= javascript_include_tag "forge/util.js"%>
    <%= javascript_include_tag "forge/pki.js"%>
    <%= javascript_include_tag "forge/prng.js"%>
    <%= javascript_include_tag "forge/random.js"%>
    <%= javascript_include_tag "forge/pbkdf2.js"%>
    <%= javascript_include_tag "forge/hmac.js"%>
    <%= javascript_include_tag "forge/pem.js"%>
    <%= javascript_include_tag "crypto" %>
    <%= javascript_include_tag "password_strength" %>
    <%= javascript_include_tag "setup" %>


    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <style type="text/css">

      /* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      .footer {
        height: 60px;
      }
      .footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        .footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }



      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      .container {
        width: auto;
        max-width: 680px;
      }
      .container .credit {
        margin: 20px 0;
      }

    </style>
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Foolbits</a>
          <div class="container-fluid nav-collapse pull-right">
            <% if signed_in? %>
            <ul class="nav">
              <li><img src="<%=current_user.picture_url%>" class="user-image"></li>
              <li><%=link_to "signout", signout_url %></a></li>
            </ul>
            <% end %>
          </div><!--/.nav-collapse -->

        </div>
      </div>
    </div>

    <div id="wrap">
      <!-- Begin page content -->
      <div class="container">
        <%= bootstrap_flash %>
        <%= yield %>
      </div>

      <div id="push"></div>
    </div>

    <div class="footer">
      <div class="container">
        <p class="muted credit">Ideated & coded by <a href="https://github.com/lordkada">Lord Kada</a> in the spare time! &copy; 2013 by <a href="http://www.opinionage.com/">Opinionage Inc.</a>.</p>
      </div>
    </div>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
