<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Foolbits, your vault." %></title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "jquery-2.0.3.min.js" %>

    <%= javascript_include_tag "forge/jsbn" %>
    <%= javascript_include_tag "forge/aes.js"%>
    <%= javascript_include_tag "forge/asn1.js"%>
    <%= javascript_include_tag "forge/oids.js"%>
    <%= javascript_include_tag "forge/pkcs1.js"%>
    <%= javascript_include_tag "forge/sha1.js"%>
    <%= javascript_include_tag "forge/rsa.js"%>
    <%= javascript_include_tag "forge/util.js"%>
    <%= javascript_include_tag "forge/pki.js"%>
    <%= javascript_include_tag "forge/prng.js"%>
    <%= javascript_include_tag "forge/random.js"%>
    <%= javascript_include_tag "forge/pbkdf2.js"%>
    <%= javascript_include_tag "forge/hmac.js"%>
    <%= javascript_include_tag "forge/pem.js"%>
    <%= javascript_include_tag "crypto" %>
    <%= javascript_include_tag "crypto_utilities" %>
    <%= javascript_include_tag "password_strength" %>
    <%= javascript_include_tag "setup" %>
    <%= javascript_include_tag "vault" %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= stylesheet_link_tag href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" %>
    <%= javascript_include_tag src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js" %>
    <%= stylesheet_link_tag href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css" %>

    <style id="holderjs-style" type="text/css">.holderjs-fluid {font-size:16px;font-weight:bold;text-align:center;font-family:sans-serif;margin:0}</style>

  </head>
  <body style="">

    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Foolbits</a>
              <!--<img class="navbar-brand" src="/assets/foolbits_only.png">-->
            </div>
            <% if signed_in? %>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><%=link_to t(:logout), signout_url %></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Reset passphrase</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-header">Nav header</li>
                      <li><a href="#">Separated link</a></li>
                      <li><a href="#">One more separated link</a></li>
                    </ul>
                  </li>
                </ul>
                <img class="user" src="<%=current_user.picture_url%>">
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= bootstrap_flash %>
    <%= yield %>

    <div class="container">

        <a href="https://twitter.com/foolbits" class="twitter-follow-button" data-show-count="true">Follow @foolbits</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>

    <%= javascript_include_tag "application" %>

    <script type="text/javascript">
      setTimeout(function () { window.scrollTo(0, 0);}, 1000);
    </script>
  </body>
</html>